@model IEnumerable<Projet_Navette.Models.LigneDemande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DemandeAbonnement.date_Demande)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DemandeAbonnement.date_Demande)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_LigneDemande }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_LigneDemande }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_LigneDemande })
        </td>
    </tr>
}

</table>
