@model Projet_Navette.Models.Offre

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Offre</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_Offre)

    <div class="form-group">
        @Html.LabelFor(model => model.heure_Depart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.heure_Depart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.heure_Depart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.heure_Arrivee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.heure_Arrivee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.heure_Arrivee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prix, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{var prix = (int)Model.prix;}
<input class="form-control" type="text" name="prix" value="@prix"/>            @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.date_Depart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{var date_Depart = (Model.date_Depart.Year + "-" + (Model.date_Depart.Month.ToString().Length == 1 ? "0" : "") + Model.date_Depart.Month.ToString() + "-" + (Model.date_Depart.Day.ToString().Length == 1 ? "0" : "") + Model.date_Depart.Day.ToString());}
            <input class="form-control" type="date" name="date_Depart" value="@date_Depart" />

            @Html.ValidationMessageFor(model => model.date_Depart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.date_Arrivee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{var date_Arrivee = (Model.date_Arrivee.Year + "-" + (Model.date_Arrivee.Month.ToString().Length == 1 ? "0" : "") + Model.date_Arrivee.Month.ToString() + "-" + (Model.date_Arrivee.Day.ToString().Length == 1 ? "0" : "") + Model.date_Arrivee.Day.ToString());}
            <input class="form-control" type="date" name="date_Arrivee" value="@date_Arrivee" />

            @Html.ValidationMessageFor(model => model.date_Arrivee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nb_Abonnes_Voulus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nb_Abonnes_Voulus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nb_Abonnes_Voulus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nb_Abonnes_Atteints, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nb_Abonnes_Atteints, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nb_Abonnes_Atteints, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_VilleArrivee, "id_VilleArrivee", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_VilleArrivee", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_VilleArrivee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_VilleDepart, "id_VilleDepart", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_VilleDepart", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_VilleDepart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_Autocar, "id_Autocar", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_Autocar", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_Autocar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
