@model Projet_Navette.Models.Societe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Societe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_patente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addresse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Societe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
